Source: audioreach-conf
Section: misc
Maintainer: Radhika Garg <radhgarg@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-conf
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-conf.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-conf

Package: audioreach-conf
Architecture: arm64
Depends:
 ${misc:Depends},
Recommends:
 qcom-kvh2xml-dev,
Description: AudioReach configuration files
 Provides vendor-, chipset-, and board-specific configuration
 data used by AudioReach components, including topology and
 calibration key-value definitions for audio use cases.

Package: qcom-kvh2xml-dev
Architecture: any
Multi-Arch: same
Description: AudioReach kvh2xml - development files
 kvh2xml provides key-value mappings used to parse or translate Audio
 Calibration Database (ACDB) data into XML formats for AudioReach.
 .
 This package contains headers and pkgconf data.
Section: libdevel
Depends:
 ${misc:Depends},
Breaks:
 audioreach-conf (<< 1.1.0-1qli+staging2~),
Replaces:
 audioreach-conf (<< 1.1.0-1qli+staging2~),
