Source: audioreach-conf
Section: misc
Maintainer: Radhika Garg <radhgarg@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
 Lukas Märdian <lukas.maerdian@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-conf
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-conf.git
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-conf

Package: audioreach-conf
Architecture: arm64
Section: libs
Depends:
 ${misc:Depends},
Description: AudioReach configuration files
 Provides vendor-, chipset-, and board-specific configuration
 data used by AudioReach components, including topology and
 calibration key-value definitions for audio use cases.
